#mappa{
    border: 3px solid;
    display: flex;
    justify-content: center;

}

.fine{
    margin-top: 140px;
    background: cornflowerblue;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.menu2,.informazioni{
    font-family: 'Motsserrat',sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
#prova2{

    margin-bottom: -10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.menu2 label{
    display: inline-block;
    padding: 0 20px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 50px;
    color: #2980b9;
}
.informazioni{
    font-size: 15px;
}
.main{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top:50px;
}
.testo{
    margin-top: 20px;
    font-size: 25px
}
iframe{
    width: -webkit-fill-available;
    height: calc(100% - 7px);
}
.mail{
    display: flex;
    align-items: center;
}
.call{
    display: flex;
    align-items: center;
}
.position{
    display: flex;
    align-items: center;
}
.orario{
    display: flex;
    align-items: center;
}

.testo,.mail,.call,.position,.orario{
    margin-bottom: 20px;
}

#icone{
    width: 40px;
    height: 40px;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mail,.call,.position,.orario{
    gap: 10px;
}

.uinfo{
    position: absolute;
    right: 1375px;
}