@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Gentium+Plus:ital@1&display=swap');

@keyframes hideAnimation {
    to {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}
.center {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
table {
    background: white;
    border:1px solid grey;
    border-collapse: collapse;
}
table td {
    border: 1px solid black;
    padding: 5px;
}
table th {
    border: 1px solid black;
    padding: 3px;
}
table th {
    border: 1px solid black;
    padding: 3px;
    background-color: cornflowerblue;
}

.macchinar{
    width: 100%;
    margin-top: -76px;
}

#motivazionale{
    text-align: center;
    margin-top: 95px;
}

#motivazionale label{
    font-size: 35px;
}


.rettangolor{
    width:100%;
    height:100px;
    background:brown;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 95px;

}

.rettangolor label{
    color: white;
    cursor: pointer;
    font-size: 42px;
}
.rettangolor a{
    text-decoration: none;
}
.rettangolor a:hover {
    text-decoration: underline;
    color: white;
}

.rettangolob{
    width:100%;
    height:100px;
    background:brown;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 95px;

}

.rettangolob label{
    color: white;
    font-size: 42px;
}

.rettangoloblu{
    width: 100%;
    height: 550px;
    background: aliceblue;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rettangoloblu img{
    width: 600px;
    height: 400px;
    border-style: ridge;
}
.rettangoloblu img{
    margin-left: 320px;
}
.rettangoloblu .testo{
    margin-right: 320px;
}
.testo{
    text-align: center;
}

.rettangolo3{
    width: 100%;
    height: 550px;
    background: white;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rettangolo3 img{
    width: 600px;
    height: 400px;
    border-style: ridge;
}
.rettangolo3 img{
    margin-right: 320px;
}
.rettangolo3 .testo2{
    margin-left: 320px;
}
.testo2{
    text-align: center;
}

.footer{
    margin-top: 200px;
    background: cornflowerblue;
    bottom:0;
    left:0;
    width:100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer,.sinistra,.destra{
    color: white;
}

.bottoni{
    display: flex;
    flex-direction: column;
    align-items: center;
}