body{
    background: rgb(56,45,255);
    background: linear-gradient(90deg, rgba(56,45,255,1) 0%, rgba(49,49,242,1) 38%, rgba(0,255,244,1) 100%);
}


.mezzo{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 12%;
    padding: 20px;
}

.container{
    width: 12%;
    background-color: white ;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    margin-left: 130px;
}

.container2{
    width: 12%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container3{
    width: 12%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    margin-right: 130px;

}

#icons{
    width: 90px;
    height: 90px;

}

.info{
    color: blue;
    font-size: 30px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
}

.link{
    text-decoration: none;
}

.link:hover{
    font-weight: bold;
}

.top label{
    display: flex;
    justify-content: center;
    align-content: center;
    color: black;
    font-weight: bold;
    font-size: 70px;
}
.material-icons.logout{
    float: left;
    color: white;
    cursor: pointer;
    top: 0;

}

#icone{
    text-decoration: none;
}

.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 50px;
}


