*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    height: 7%;
    width: 100%;
    padding: 0 30px;
    background: cornflowerblue;
}

.menu{
    list-style: none;
}

.menu li{
    display: inline-block;
    text-transform: uppercase;
    font-size: 24px;
    position: relative;
}

.menu a{
    display: block;
    padding: 22px 15px;
    text-decoration: none;
    color: white;
    transition: .3s;
}



.menu a:hover{
    color: #222;
}

.sub-menu{
    position: absolute;
    top: 60px;
    left: 0;
    border: 1px solid black;
    background-color: cornflowerblue;
    border-bottom: none;
    visibility: hidden;
    opacity: 0;
}

.menu .has-children:hover .sub-menu{
    transition: .5s;
    visibility: visible;
    opacity: 1;
    top:55px;
}

.sub-menu li{
    width: 200px;
    font-size: 12px;
}

.sub-menu a{
    color: #222;
}
.sub-menu a:hover{
    text-decoration: underline;
    color: black;
    transform: translateX(5px);
}

.sub-menu li:hover{
    background: white;
}

.img{
    width: 100%;
    height: 94.4%;
}
body{
    margin: 0 auto;
    background-image: url("../../assets/login.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.mezzo{
    width: 28%;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(44, 62, 80,0.7);
    margin-top: 200px;
}


input[type="text"],input[type="password"]{
    height: 45px;
    width: 300px;
    font-size: 18px;
    background-color: #fff;
    padding-left: 40px;
}

.form-input::before{
    content: "\f007";
    font-family: "FontAwesome";
    padding-left: 07px;
    padding-top: 40px;
    position: absolute;
    font-size: 35px;
    color: #2980b9;
}

.form-input:nth-child(2)::before{
    content: "\f023";
}

.btn-login{
    font-weight: bold;
    font-size: 16px;
    padding: 15px 25px;
    border: none;
    background-color: white;
    border-radius: 200px;
}

.link {
    font-weight: bold;
    color: darkorange;
    text-decoration: none;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_input.username{
    width: min-content;
}

#omino{
    position: relative;
    left: -127px;
    top: 30px;
}
.field{
    width: min-content;
    background: transparent!important;
    border: none;
    border-bottom: 2px solid rgb(220,220,220,0.5);
}
#lucchetto{
    position: relative;
    top: 30px;
    right: 127px;
}

.fine{
    margin-top: 16%;
    background: cornflowerblue;
    bottom:0;
    left:0;
    width:100%;
    padding: 20px;
}

.Customer h4{
    color: darkgray;
    font-family: bernard;
    font-weight: bold;
    margin-top: 35px;
    font-size: 35px;

}

.check{
    margin-left: -250px;
}

.log{
    margin-right: -100%;
    margin-top: -30px;
}

.contenuto{
    margin-top: 30px;
}

.dpass {
   margin-top: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: black
}

.dpass:hover{
    text-decoration: underline;

}

.field::placeholder{
    color: darkgray;
}

.btn-login:hover{
    text-decoration: underline;
}





