*{
    margin: 0;
    padding: 0;
}
.center{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
}


.info{
    margin-bottom: 10px;
}

input{
    border: none;
    border-bottom: 2px solid rgb(220,220,220,0.5);
}

.intro{
    font-size: 60px;
    font-weight: bold;
    margin-top: 50px;
}

.contenuto{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    background: rgb(57,143,222);
    background: linear-gradient(90deg, rgba(57,143,222,1) 0%, rgba(0,255,252,1) 100%);
    width: 30%;
}

body{
    background: rgb(57,57,222);
    background: linear-gradient(90deg, rgba(57,57,222,1) 0%, rgba(0,176,255,1) 100%);

}

.bottoni{
    display: flex;
    justify-content: space-around;
    width: -webkit-fill-available;

}
.contenuto label{
    font-size: 22px;

}

.inff{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
}

.info{
    font-size: 20px;
    border-bottom: 2px solid rgb(220,220,220,0.5);
    margin-bottom: 30px;
    font-weight: bold;
}

.inser{
    font-size: 18px;
    background: transparent !important;
    border: none;
    cursor: pointer;
    outline: none;
}

.btn{
    font-weight: bold;
    font-size: 16px;
    border: none;
    background-color: white;
    border-radius: 200px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.btn:hover{
    text-decoration: underline;
}

