@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
}


body{
    background: rgb(56,45,255);
    background: linear-gradient(90deg, rgba(56,45,255,1) 0%, rgba(49,49,242,1) 38%, rgba(0,255,244,1) 100%);
}

table{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(32,32,32,.3);
    background: #fafafa;
    text-align: center ;
}

th,td{
    padding: 12px 15px;
}

th{
    background: #00bcd4;
    color: #fafafa;
    text-transform: uppercase;
    font-family: 'Roboto Thin', 'sans-serif';
}

td{
    font-family: 'Open sans','sans-serif';
}
tr:nth-child(odd){
    background-color: #eeeeee;
}

.center{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 20px ;
}

.icone{
    color: black;
    width: 40px;
    height: 40px;
}

.intro{
    font-weight: bold;
    font-size: 50px;
    color: black;
    z-index: 1;
}

.profilo{
    width: 40px;
    height: 40px;
    float: right;
    color: black;
    margin-top: 25px;
}

#agg{
    color: black;

 }

#qform{
    top: 300px;
    position: absolute;
    z-index: 1;
}

#dir{
    z-index: 1;
    position: absolute;
    top: 660px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 4px;
    align-items: center;
    width: -webkit-fill-available;

}

.ricerca{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}




