.card {
    position: relative;
    top:100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    text-align: center;
}


.title {
    color: darkgray;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    border: none;
}

.inserisci {
    padding: 8px;
    color: white;
    cursor: pointer;
    width: 200px;
    height: 36px;
}
.rimuovi {
    position: relative;
    margin-top: 20px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #27ae60;
    text-align: center;
    cursor: pointer;
    width: 200px;
    font-size: 15px;
    height: 36px;
}

button:hover {
    opacity: 0.7;
}
.inserimento{
    display: flex;
    width: 200px;
    height: 36px;
    background: #27ae60;
    margin-top: 20px;
}
.file{
    opacity: 0;
    z-index: 1;
    width: 200px;
    height: 36px;
    position: absolute;
    top: 360px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.immagine{
    width: 190px;
    height: 190px;
    border-radius: 200px;
    overflow: hidden;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}



.colore{
    background: #3399ff;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    font-weight: bold;
    font-size: 16px;
    border: none;
    background-color: white;
    border-radius: 200px;
}
.bottone{
    padding: 50px;
}

.colors{
    background: lightskyblue;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.int input,label{
    background: transparent !important;
    border: none;
    border-bottom: 2px solid rgb(220,220,220,0.5);
}

.profilo{
    background-color: #2980b9;
}

nav{
    height: 7%;
    width: 100%;

    background: cornflowerblue;
    position: fixed;
    top: 0;
    left: 0;
}

.menu{
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

}

.menu li{
    display: inline-block;
    text-transform: uppercase;
    font-size: 24px;
    position: relative;
}

.menu a{
    display: block;
    padding: 22px 15px;
    text-decoration: none;
    color: white;
    transition: .3s;
}



.menu a:hover{
    color: #222;
}

.sub-menu{
    position: absolute;
    top: 60px;
    left: 0;
    border: 1px solid black;
    background-color: cornflowerblue;
    border-bottom: none;
    visibility: hidden;
    opacity: 0;
}

.menu .has-children:hover .sub-menu{
    transition: .5s;
    visibility: visible;
    opacity: 1;
    top:55px;
}

.sub-menu li{
    width: 200px;
    font-size: 12px;
}

.sub-menu a{
    color: #222;
}
.sub-menu a:hover{
    text-decoration: underline;
    color: black;
    transform: translateX(5px);
}

.sub-menu li:hover{
    background: white;
}
.contenuto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    align-items: flex-start;
    align-content: center;
}
.contenuto label{
    margin-bottom: 20px;
}

.bottoni{
    width: -webkit-fill-available;
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
    justify-content: space-around;
}

#image{
    background-color: white;
    /*opacity: 1;*/
    top: 57px;
    height: 200px;
    border-radius: 200%;
}

#title{
    background: transparent !important;
    border: none;
    cursor: pointer;
    outline: none;
}


