*{
    padding: 0;
    margin:0;
    font-family: sans-serif;
}
body{
    background: #383d52;
    animation: body 3.5s forwards;
}

.animazione{
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,-50%);
    width: 100%;
    animation: animazione 1s forwards;
    animation-delay: 2s;

}
.text1{
    color:white;
    font-size:60px;
    font-weight: 600;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: #383d52;
    position: relative;
    animation: text 2s 1 ;
}
.text2{
    font-size: 40px;
    font-weight: 600;
    color: white;

}

@keyframes text {
    0%{
        color: #383d52;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

.animazione span{
    text-transform: uppercase;
    display: block;
}

.container {
    opacity: 0;
    animation: onload 1s forwards;
    animation-delay: 3s;
}

@keyframes onload {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes animazione {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }

}

@keyframes body{
    0%{
        background: #383d52;
        overflow: hidden;
    }
    80%{
        background: #383d52;
        overflow: hidden;
    }
    100%{
        background: white;
        overflow: auto;
    }
 }


