.card {
    position: relative;
    top:100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

.inserisci {
    padding: 8px;
    color: white;
    cursor: pointer;
    width: 200px;
    height: 36px;
}
.rimuovi {
    position: relative;
    margin-top: 20px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #27ae60;
    text-align: center;
    cursor: pointer;
    width: 200px;
    font-size: 15px;
    height: 36px;
}

button:hover {
    opacity: 0.7;
}
.inserimento{
    display: flex;
    width: 200px;
    height: 36px;
    background: #27ae60;
    margin-top: 20px;
}
.file{
    opacity: 0;
    z-index: 1;
    width: 200px;
    height: 36px;
    position: absolute;
    top: 360px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}